<div class="container" ng-init="init()">
    <div>
      <p class="col-xs-12"><h1>{{ currentRegion.name }}</h1></p>
    </div>
   <div class="row" ng-show="hidder">
    <table class="table table-fixed table-condensed table-hover">
      <thead>
        <tr>
          <th class="col-xs-1">#</th>
          <th class="col-xs-2">Ресурс</th>
          <th class="col-xs-2">Лимит</th>
          <th class="col-xs-2">Дата с</th>
          <th class="col-xs-3">Дата по</th>
          <th class="col-xs-2">Действия</th>

        </tr>
      </thead>
      <tbody style="height: 400px">
        <tr ng-repeat="x in resources" class="col-xs-12">

          <td class="col-xs-1">{{ $index + 1 }}</td>
          <td class="col-xs-2">{{ x[0] }}</td>
          <td class="col-xs-2">{{ x[1] }}</td>
          <td class="col-xs-2">{{ x[2] }}</td>
          <td class="col-xs-3">{{ x[3] }}</td>
          <td class="col-xs-2">
            <button type="button" class="btn btn-xs btn-primary" ng-click="hide()" title="Редактировать">Редактировать</button>
          </td>

        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-lg btn-primary" ng-click="editRegion(x.id)" title="Создать">Создать</button>
  </div>
  <div class="row" ng-hide="hidder">
    <h1>Прив
      <button type="button" class="btn btn-lg btn-primary" ng-click="hide()" title="Редактировать">Пок</button>
  </div> 
    
  </div>
</div>