<div class="container">
    <div class="row">


        <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
            <ng-map center="41,-87" zoom="3">
            </ng-map>
        </div>


        <div class="col-sm-6">
            <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" ng-bind="name" class="form-control" id="usr"></input>
				<label for="usr">Code:</label>
				<input type="text" ng-bind="code" class="form-control" id="usr"></input>
            </div>
            <button type="button" class="btn btn-default" ng-click="openPolygon()" ng-if="regionEdit">Открыть</button>
            <button type="button" class="btn btn-primary" ng-click="savePolygon()">Сохранить</button>
            <button type="button" class="btn btn-success" ng-click="deletePolygon()" ng-if="regionEdit">Удалить</button>
            <button type="button" class="btn btn-info" ng-click="editPolygon()">Редактировать</button>
            <button type="button" class="btn btn-warning" ng-click="createPolygon()" ng-if="regionEdit">Создать</button>
        </div>

    </div>
</div>
